

.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 8px;
  font-family: var(--font-geist-sans);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 8px;
  padding: 16px;
  width: 100vw;
  z-index: 1000;
  top: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);

  .title{
    align-items: center;
    justify-content: center;
    padding: 36px;
    font-size: 50px;
    font-weight: 500;
    /* Fallback for color-mix for better browser support */
    color: var(--text-4);
    /* color:color-mix(in hue,var(--text-1) 80%, var(--text-4) 20%); */
    stroke: var(--text-3) 16px;
    stroke-width: 8px;
    text-shadow: 2px 2px 4px var(--text-2);
  }
}
.navLinks{
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 8px;
  margin-right: 16px;

  a{
  color: var(--button-primary); 
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  }
  a:hover {
    color: var(--button-primary-hover);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .active {
    border: 2px solid var(--button-primary);
    border-radius: 8px;
    padding: 4px 8px;
    color: var(--text-4);
    text-decoration: underline;
    text-underline-offset: 4px
  }
}

.hidden {
transform: translateY(-100%);
}

.home{
  display: flex;
  flex-direction:row;
  gap: 16px;
  text-align: center; 
  justify-content:space-around;
  align-self: center;
  width: 100%;
  height: 100vh;
  padding: 8px;
  background: url(./Dhakshin\ A\ V.jpg) no-repeat center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-blend-mode: hue;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:self-start;
  gap: 16px;


  .title{
    font-size: 72px;
    font-weight: 700;
    /* Fallback for color-mix for better browser support */
    color: var(--text-1);
    /* color:color-mix(in hue,var(--text-1) 80%, var(--text-4) 20%); */
    stroke: var(--text-3) 16px;
    stroke-width: 8px;
    text-shadow: 2px 2px 4px var(--text-3);
  }
  .subtitle {
    font-size: 36px;
    font-weight: 550;
    color: var(--text-5);
    stroke: var(--text-4) 16px;
    stroke-width: 8px;
    text-shadow: 2px 2px 4px var(--text-4);

  }
  .description {
    font-size: 24px;
    font-weight: 450;
    color: var(--text-3);
    stroke: var(--text-1) 16px;
    stroke-width: 8px;
    max-width: 600px;
  }

  .buttons{
    display: flex;
    gap: 16px;
    margin-top: 16px;
  
    a {
      display: inline-block;
      padding: 12px 24px;
      font-size: 24px;
      font-weight: 500;
      border-radius: 8px;
      border: 2px solid var(--button-border);
      text-decoration: none;
      transition: 0.3s, border-color 0.3s;
      justify-content: space-between;
      cursor: pointer;

      .arrow{
        display: none;
      }
    }
    .Button1{
      background: var(--button-primary);
      color: var(--text-1);
    }
    .Button2{
      background: rgba(0, 0, 0, 0.1);
      color: var(--text-1);

    }
    a:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
      .arrow{
        display: inline;  
      }

    }
  }

  .socialLinks{
    display: flex;
    gap: 16px;
    margin-top: 16px;

    a {
      color: var(--text-1);
      font-size: 28px;
      font-weight: 500;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
    a:hover {
      color: var(--text-4);
      animation-name: shake;
      animation-duration: .5s;
      animation-iteration-count: infinite;
    }
  }
}

.heroImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 600px;

  .heroImage {
    border-radius: 50%;
    width: 75%;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    border: 10px solid var(--button-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
    animation-name: float;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction:normal;  
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.05));
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
  }

  img:hover {
    transform: scale(1.05);
    border: 6px solid var(--button-border);
  }
}

.about{
  display: flex;
  flex-direction: row;;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 100% ;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-1);
  font-family: var(--font-geist-sans);
  text-align: center;

  .aboutImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

    img {
      border-radius: 5%;
      width: 75%;
      aspect-ratio: 1 / 1;
      height: auto;
      object-fit: cover;
      border-width: 5px 10px;
      border-style: solid;
      border-color: var(--button-border);
      border-radius: 16px;
      border-image: linear-gradient(to right, var(--button-border), var(--button-primary)) 1;
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      z-index: 1;
      transition: all 0.3s ease-in-out;
      -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.05));
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.25));
    }

    img:hover {
      transform: scale(1.05);
    }
  }

  .aboutText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 16px;

     h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-4);
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px var(--text-2);
  }

  .subtitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-3);
  }

  p {
    font-size: 20px;
    color: var(--text-3);
    line-height: 1.5;
    max-width: 90%;
    margin-bottom: 16px;
    text-shadow: 1px 1px 2px var(--text-2);
  }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-1);
  font-family: var(--font-geist-sans);
  text-align: center;

  h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-4);
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px var(--text-2);
  }

  .projectList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;


    .projectCard {
      background: rgba(255,255,255,0.9);
      border-radius: 8px;
      padding: 16px;
      box-shadow: rgba(0,0,0,0.1) 0px 4px 6px -1px, rgba(0,0,0,0.06) 0px 2px 4px -1px;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }

      h3 {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-3);
        margin-bottom: 8px;
      }

      p {
        font-size: 18px;
        color: var(--text-2);
        margin-bottom: 8px;
      }

      a {
        color: var(--button-primary);
        text-decoration: none;

        &:hover {
          color: var(--button-primary-hover);
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-1);
  font-family: var(--font-geist-sans);
  text-align: center;

  h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-4);
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px var(--text-2);
  }

  .skillList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    .skillItem {
      background-color: rgba(255,255,255,0.9);
      border-radius: 8px;
      padding: 12px;
      box-shadow: rgba(0,0,0,0.1) inset -1px -1px -1px rgba(0,0,0,0.05);
      font-size: 20px;
      color: var(--text-3);
      transition: transform .3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0,0,0,0.2) inset -1px -1px -1px rgba(0,0,0,0.05);
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-1);
  font-family: var(--font-geist-sans);
  text-align: center;

  h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-4);
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px var(--text-2);
  }

  p {
    font-size: 24px;
    color: var(--text-3);
    line-height: 1.5;
    max-width: 600px;
    margin-bottom: 16px;
    text-shadow: 1px 1px 2px var(--text-2);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    width: 100%;

    input, textarea {
      padding: 12px;
      border-radius: 8px;
      border: none;
      background-color: rgba(255,255,255,0.9);
      box-shadow: rgba(0,0,0,0.1) inset -1px -1px -1px rgba(0,0,0,0.05);
      font-size: 18px;
      color: var(--text-3);
      transition: box-shadow .3s ease-in-out;

      &:focus {
        box-shadow: rgba(0,0,0,0.2) inset -1px -1px -1px rgba(0,0,0,0.05);
        outline:none; 
      }
    }

    textarea {
      resize: vertical;
      min-height: 150px;
    }

    button {
      padding: 12px;
      border-radius: 8px;
      border:none; 
      background-color: var(--button-primary);
      color: var(--text-1);
      font-size:24px; 
      font-weight:bold; 
      cursor:pointer; 
      transition:.3s ease-in-out;

      &:hover {
        background-color: var(--button
-primary-hover);
        box-shadow: rgba(0,0,0,0.1) 0px 4px 6px -1px, rgba(0,0,0,0.06) 0px 2px 4px -1px;
      }
    }
  }
}

.footer {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  background: var(--text-3);
  color: var(--text-1);
  width: 100vw;
}

@media (prefers-color-scheme: dark) {

}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 500px) {

}


@keyframes float {
  0% {

    transform: translateY(-15px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); transform: scale(1.0); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); transform: scale(1.1);}
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); transform: scale(1.0); }
}  
